/* SlotAvailability.css */
.slot-availability-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .slot-availability-container h2,
  .slot-availability-container h3 {
    color: #333;
  }
  
  .slot-availability-container label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .slot-availability-container select,
  .slot-availability-container input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding does not affect the overall width */
  }
  
  .slot-availability-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .slot-availability-container button:hover {
    background-color: #0056b3;
  }
  
  .slot-availability-container ul {
    list-style: none;
    padding: 0;
  }
  
  .slot-availability-container ul li {
    background-color: #f8f9fa;
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
  }

  .room-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .room-button {
    width: 150px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .room-button:hover {
    background-color: #f0f0f0;
  }
  
  /* You might want to add media queries to make it responsive */
  @media (max-width: 768px) {
    .slot-availability-container {
      width: 90%;
      margin: 20px auto;
    }
  }
  